.Menu {
    width: 100%;
    height: 75px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 1%;
    padding-right: 1%;
    background: var(--white);
    border-bottom: 2px solid var(--black);
}

body {
    --bodyPaddingTop: 94px;
    padding-top: var(--bodyPaddingTop);
}
.underline {
    text-decoration: underline;
}