.Footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--black)k;
    padding-left: 1%;
    padding-right: 1%;
    background: var(--white);
    border-top: 2px solid var(--black);
}
div {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}